# Node modules
node_modules/
client/.cache/
client/public/
server/node_modules/

# Logs
*.log

# Environment
*.env
.env*

# Build output
dist/
build/

# Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
